.header {
  display: flex;
  flex-direction: column;

  position: relative;

  padding: 0 0 60px 0;

  z-index: 10;
}
.example {
  float: left;
}
.header__title_search {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__time_date {
  display: flex;
  justify-content: space-between;

  margin: 0 60px;
}
.header__time_date input {
  width: 30px;
}
.search__input {
  max-width: 400px;
  width: 100%;
  height: 35px;
}
@-webkit-keyframes zoom {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes zoom {
  0% {
    -moz-transform: scale(1);
  }
  50% {
    -moz-transform: scale(0.8);
  }
  100% {
    -moz-transform: scale(1);
  }
}
@-o-keyframes zoom {
  0% {
    -o-transform: scale(1);
  }
  50% {
    -o-transform: scale(0.8);
  }
  100% {
    -o-transform: scale(1);
  }
}
@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
.header__content {
  display: inline-flex;
  flex-direction: column;

  position: relative;

  padding: 0 25px;
}
.header__openDescrition,
.header__openTime {
  width: 150px;
  height: 150px;

  display: inline-block;

  position: relative;

  margin: 20px 0;
}
.header__openDescrition_content,
.header__openTime_content {
  width: 130px;
  height: 130px;

  position: absolute;
  left: 50px;
  right: auto;

  text-align: center;

  margin: 10px;
  padding: 22px 10px;
  border-radius: 60px;

  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
  background-color: rgba(149, 198, 89, 0.4);

  z-index: 2;
}
.header__openTime_content {
  left: auto;
  right: 50px;
}
.header__openDescrition_outer,
.header__openTime_outer {
  width: 150px;
  height: 150px;

  position: absolute;
  left: 50px;
  right: auto;

  border-radius: 60px;
  opacity: 0.2;

  background-color: rgb(20, 190, 235);

  z-index: 1;
}
.header__openTime_outer {
  left: auto;
  right: 50px;
}
.header__openDescrition_content:hover + .header__openDescrition_outer,
.header__openDescrition_content:active + .header__openDescrition_outer,
.header__openTime_content:hover + .header__openTime_outer,
.header__openTime_content:active + .header__openTime_outer {
  -webkit-animation: zoom 1s ease-in 0s 1 both;
  -mox-animation: zoom 1s ease-in 0s 1 both;
  -o-animation: zoom 1s ease-in 0s 1 both;
  animation: zoom 1s ease-in 0s 1 both;
}
@-webkit-keyframes rotor {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes rotor {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-o-keyframes rotor {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg);
  }
}
@keyframes rotor {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header__create {
  width: 120px;
  height: 120px;

  display: inline-block;

  position: relative;
  top: 50%;
  left: 50%;

  margin: 0 0 0 0;

  transform: translate(-50%, 30%);
}
.header__create_task {
  width: 100px;
  height: 100px;

  position: absolute;
  top: 50%;
  left: 50%;

  text-align: center;

  margin: 10px;
  padding: 15px 10px;
  border-radius: 60px;

  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
  background-color: rgba(149, 198, 89, 0.9);

  transform: translate(-60%, -60%);
  z-index: 2;
}
.header__create_outer {
  width: 120px;
  height: 120px;

  position: absolute;

  border-radius: 60px;

  background-image: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.01) 0%,
      rgba(255, 255, 255, 0.01) 45%,
      rgba(149, 198, 89, 0.4) 45%,
      rgba(149, 198, 89, 0.4) 55%,
      rgba(255, 255, 255, 0.01) 55%,
      rgba(255, 255, 255, 0.01) 100%
    ),
    linear-gradient(
      -45deg,
      rgba(255, 255, 255, 0.01) 0%,
      rgba(255, 255, 255, 0.01) 45%,
      rgba(149, 198, 89, 0.4) 45%,
      rgba(149, 198, 89, 0.4) 55%,
      rgba(255, 255, 255, 0.01) 55%,
      rgba(255, 255, 255, 0.01) 100%
    );

  z-index: 1;
}
.header__create_task:hover + .header__create_outer,
.header__create_task:active + .header__create_outer {
  -webkit-animation: rotor 1.5s linear 0s infinite normal;
  -mox-animation: rotor 1.5s linear 0s infinite normal;
  -o-animation: rotor 1.5s linear 0s infinite normal;
  animation: rotor 1.5s linear 0s infinite normal;
}
.height {
  position: relative;
  top: 200px;
}
.header__description {
  padding-bottom: 30px;
}
.height__create {
  height: 45px;
}
.search__error {
  font-weight: 600;
  color: red;
}
.search__input_error {
  border: 2px solid red;
}
.red,
.red a {
  color: red;
}
